In [1]:
import pandas as pd
import openpyxl        ############ Why is this library needed ?????????????  Add to yml ????????????//
import numpy as np

In [2]:
api_df = pd.read_excel("../data/raw/RiskClassification_Data_Endpoints_V1.xlsx", 
                       "Core_Endpoint",
                       usecols="A:R")

In [3]:
api_df    #############  Passed = 0, Failed = 1 ????????????

,api_endpoint_id,api_id,api_vendor_id,api_vendor,api,category,usage_base,sample_response,tagset,authentication,security_test_category,security_test_result (FALSE=Passed; TRUE=Failed),server_location,hosting_isp,server_name,response_metadata,hosting city,risk_label_Baljeet
0,2410,1045,361,OneLook,Datamuse Dictionary,Research & Education,free,NaN,"tags,score,word,word,word",none,Broken Authentication,0.0,United States,"Amazon.com, Inc.",Apache/2.4.33 (Amazon) mod_wsgi/3.5 Python/2.7...,"{""Date"": ""Fri, 08 Nov 2019 14:43:17 GMT"", ""Var...",Ashburn,Low
1,2410,1045,361,OneLook,Datamuse Dictionary,Research & Education,free,NaN,"tags,score,word,word,word",none,Broken Authentication,0.0,United States,"Amazon.com, Inc.",Unavailable/Obscured,"{""Date"": ""Fri, 08 Nov 2019 14:43:17 GMT"", ""Var...",Ashburn,No
2,2410,1045,361,OneLook,Datamuse Dictionary,Research & Education,free,NaN,"tags,score,word,word,word",none,Cross-Site Scripting,0.0,United States,"Amazon.com, Inc.",Apache/2.4.33 (Amazon) mod_wsgi/3.5 Python/2.7...,"{""Date"": ""Fri, 08 Nov 2019 14:43:18 GMT"", ""Var...",Ashburn,Low
3,2410,1045,361,OneLook,Datamuse Dictionary,Research & Education,free,NaN,"tags,score,word,word,word",none,Cross-Site Scripting,0.0,United States,"Amazon.com, Inc.",Apache/2.4.33 (Amazon) mod_wsgi/3.5 Python/2.7...,NaN,Ashburn,Low
4,2410,1045,361,OneLook,Datamuse Dictionary,Research & Education,free,NaN,"tags,score,word,word,word",none,Cross-Site Scripting,0.0,United States,"Amazon.com, Inc.",Unavailable/Obscured,"{""Date"": ""Fri, 08 Nov 2019 14:43:18 GMT"", ""Var...",Ashburn,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2823,1286,574,TestVendor,DepartmentAPI,AI & Data Science,free,"{""response"": {""data"": [{""id"": 1, ""email"": ""geo...","avatar,url,email,page,id,total,text,per_page,t...",none,Cross-Site Scripting,0.0,United States,"Cloudflare, Inc.",cloudflare,"{""Age"": ""1859"", ""NEL"": ""{\""success_fraction\"":...",New York,Low
1996,2823,1286,574,TestVendor,DepartmentAPI,AI & Data Science,free,"{""response"": {""data"": [{""id"": 1, ""email"": ""geo...","avatar,url,email,page,id,total,text,per_page,t...",none,Cross-Site Scripting,0.0,United States,"Cloudflare, Inc.",cloudflare,"{""Age"": ""1859"", ""NEL"": ""{\""success_fraction\"":...",San Francisco,Low
1997,2823,1286,574,TestVendor,DepartmentAPI,AI & Data Science,free,"{""response"": {""data"": [{""id"": 1, ""email"": ""geo...","avatar,url,email,page,id,total,text,per_page,t...",none,Cross-Site Scripting,0.0,United States,"Cloudflare, Inc.",cloudflare,"{""Age"": ""1860"", ""NEL"": ""{\""success_fraction\"":...",New York,Low
1998,2823,1286,574,TestVendor,DepartmentAPI,AI & Data Science,free,"{""response"": {""data"": [{""id"": 1, ""email"": ""geo...","avatar,url,email,page,id,total,text,per_page,t...",none,Cross-Site Scripting,0.0,United States,"Cloudflare, Inc.",cloudflare,"{""Age"": ""1860"", ""NEL"": ""{\""success_fraction\"":...",San Francisco,Low
1999,2823,1286,574,TestVendor,DepartmentAPI,AI & Data Science,free,"{""response"": {""data"": [{""id"": 1, ""email"": ""geo...","avatar,url,email,page,id,total,text,per_page,t...",none,Cross-Site Scripting,0.0,United States,"Cloudflare, Inc.",cloudflare,"{""Age"": ""1860"", ""NEL"": ""{\""success_fraction\"":...",New York,Low

In [4]:
api_security_test_df = api_df[["api_endpoint_id", "api", "security_test_category", "security_test_result (FALSE=Passed; TRUE=Failed)"]]

In [5]:
api_security_test_df.head()

,api_endpoint_id,api,security_test_category,security_test_result (FALSE=Passed; TRUE=Failed)
0,2410,Datamuse Dictionary,Broken Authentication,0.0
1,2410,Datamuse Dictionary,Broken Authentication,0.0
2,2410,Datamuse Dictionary,Cross-Site Scripting,0.0
3,2410,Datamuse Dictionary,Cross-Site Scripting,0.0
4,2410,Datamuse Dictionary,Cross-Site Scripting,0.0

In [6]:
list(api_security_test_df["security_test_category"].unique())

['Broken Authentication',
 'Cross-Site Scripting',
 'Insecure Deserialization',
 'SQL Injection',
 'XML External Entities',
 'Buffer Overflow',
 nan]

In [7]:
api_security_test_df[api_security_test_df["security_test_category"].isnull()]

,api_endpoint_id,api,security_test_category,security_test_result (FALSE=Passed; TRUE=Failed)
271,2677,Recipie API,NaN,NaN
295,2687,Zomato API,NaN,NaN
296,2687,Zomato API,NaN,NaN
297,2687,Zomato API,NaN,NaN
298,2687,Zomato API,NaN,NaN
...,...,...,...,...
416,2687,Zomato API,NaN,NaN
417,2687,Zomato API,NaN,NaN
418,2687,Zomato API,NaN,NaN
419,2687,Zomato API,NaN,NaN
420,2687,Zomato API,NaN,NaN

In [8]:
playground_df = api_security_test_df[api_security_test_df["api_endpoint_id"].isin([2410, 2548, 2677])]
playground_df

,api_endpoint_id,api,security_test_category,security_test_result (FALSE=Passed; TRUE=Failed)
0,2410,Datamuse Dictionary,Broken Authentication,0.0
1,2410,Datamuse Dictionary,Broken Authentication,0.0
2,2410,Datamuse Dictionary,Cross-Site Scripting,0.0
3,2410,Datamuse Dictionary,Cross-Site Scripting,0.0
4,2410,Datamuse Dictionary,Cross-Site Scripting,0.0
5,2410,Datamuse Dictionary,Cross-Site Scripting,0.0
6,2410,Datamuse Dictionary,Insecure Deserialization,0.0
7,2410,Datamuse Dictionary,Insecure Deserialization,0.0
8,2410,Datamuse Dictionary,SQL Injection,0.0
9,2410,Datamuse Dictionary,SQL Injection,0.0
10,2410,Datamuse Dictionary,SQL Injection,0.0
11,2410,Datamuse Dictionary,SQL Injection,0.0
12,2410,Datamuse Dictionary,SQL Injection,0.0
13,2410,Datamuse Dictionary,SQL Injection,0.0
14,2410,Datamuse Dictionary,XML External Entities,0.0
15,2410,Datamuse Dictionary,XML External Entities,0.0
107,2548,Campus Report API,SQL Injection,0.0
108,2548,Campus Report API,SQL Injection,0.0
254,2677,Recipie API,Buffer Overflow,0.0
255,2677,Recipie API,Buffer Overflow,0.0
256,2677,Recipie API,Buffer Overflow,0.0
257,2677,Recipie API,Cross-Site Scripting,0.0
258,2677,Recipie API,Cross-Site Scripting,0.0
259,2677,Recipie API,XML External Entities,0.0
260,2677,Recipie API,XML External Entities,1.0
261,2677,Recipie API,XML External Entities,1.0
262,2677,Recipie API,XML External Entities,0.0
263,2677,Recipie API,XML External Entities,0.0
264,2677,Recipie API,Cross-Site Scripting,0.0
265,2677,Recipie API,XML External Entities,0.0
266,2677,Recipie API,XML External Entities,1.0
267,2677,Recipie API,Cross-Site Scripting,0.0
268,2677,Recipie API,Cross-Site Scripting,0.0
269,2677,Recipie API,Buffer Overflow,0.0
270,2677,Recipie API,Buffer Overflow,0.0
271,2677,Recipie API,NaN,NaN
272,2677,Recipie API,XML External Entities,1.0

In [9]:
playground_df.groupby('api_endpoint_id').size()

api_endpoint_id
2410    16
2548     2
2677    19
dtype: int64

In [10]:
security_count_df = playground_df.groupby('api_endpoint_id').count()
security_count_df

,api,security_test_category,security_test_result (FALSE=Passed; TRUE=Failed)
api_endpoint_id,,,
2410,16,16,16
2548,2,2,2
2677,19,18,18

In [11]:
feat_security_test = pd.DataFrame(api_df["api_endpoint_id"].unique(), columns=["api_id"])
feat_security_test

    api_id
0     2410
1     2524
2     2532
3     2544
4     2545
5     2546
6     2548
7     2583
8     2585
9     2600
10    2601
11    2612
12    2628
13    2677
14    2681
15    2687
16    2699
17    2702
18    2730
19    2753
20    2754
21    2761
22    2795
23    2796
24    2812
25    2823

In [12]:
security_count_df["api_id"] = security_count_df.index
feat_security_test = pd.merge(feat_security_test, security_count_df, on="api_id", how="outer")
feat_security_test["security_test_conducted"] = 0
feat_security_test.loc[feat_security_test["security_test_category"] > 0 , "security_test_conducted"] = 1
feat_security_test

,api_id,api,security_test_category,security_test_result (FALSE=Passed; TRUE=Failed),security_test_conducted
0,2410,16.0,16.0,16.0,1
1,2524,NaN,NaN,NaN,0
2,2532,NaN,NaN,NaN,0
3,2544,NaN,NaN,NaN,0
4,2545,NaN,NaN,NaN,0
5,2546,NaN,NaN,NaN,0
6,2548,2.0,2.0,2.0,1
7,2583,NaN,NaN,NaN,0
8,2585,NaN,NaN,NaN,0
9,2600,NaN,NaN,NaN,0
10,2601,NaN,NaN,NaN,0
11,2612,NaN,NaN,NaN,0
12,2628,NaN,NaN,NaN,0
13,2677,19.0,18.0,18.0,1
14,2681,NaN,NaN,NaN,0
15,2687,NaN,NaN,NaN,0
16,2699,NaN,NaN,NaN,0
17,2702,NaN,NaN,NaN,0
18,2730,NaN,NaN,NaN,0
19,2753,NaN,NaN,NaN,0
20,2754,NaN,NaN,NaN,0
21,2761,NaN,NaN,NaN,0
22,2795,NaN,NaN,NaN,0
23,2796,NaN,NaN,NaN,0
24,2812,NaN,NaN,NaN,0
25,2823,NaN,NaN,NaN,0

In [13]:

result

NameError: name 'result' is not defined